.contact-form{ margin-top:15px; margin-bottom:15px;}
.textarea{ min-height:220px; resize:none;}
.form-control{ box-shadow:none; border-color:#eee; height:49px;}
.form-control:focus{ box-shadow:none; border-color:#00b09c;}
.form-control-feedback{ line-height:50px;}
.main-btn{ background:#00b09c; border-color:#00b09c; color:#fff;}
.main-btn:hover{ background:#00a491;color:#fff;}
.form-control-feedback {
line-height: 50px;
top: 0px;
}

.section-aboutus{
    background-color: #7284A8;
    color: white;
}
.section-register{
    color:  #7284A8;

}
.section-contactus{
    background-color: #7284A8;
    color: white !important;
    padding-bottom:15px;
}

.text-on-dark{
    color: white !important;
}

.text-on-light{
    color: #7284A8 !important;
}
/* .jumbotron{
    width: 100%;
    height: auto;
    background-color: white;
    background-image: url(Images/soccerheader.jpg) ; 
  
    background-size: cover;
} */

.jumboHeaderImg {
    background: url("Images/soccerheader.jpg") no-repeat;
    background-size: cover;
    /* background-position: top center; */
    height: 400px;
    width:100%;
    
  }
