.contact-form{ margin-top:15px;}
.textarea{ min-height:220px; resize:none;}
.form-control{ box-shadow:none; border-color:#eee; height:49px;}
.form-control:focus{ box-shadow:none; border-color:#00b09c;}
.form-control-feedback{ line-height:50px;}
.main-btn{ background:#00b09c; border-color:#00b09c; color:#fff;}
.main-btn:hover{ background:#00a491;color:#fff;}
.form-control-feedback {
line-height: 50px;
top: 0px;
}

.section-aboutus{
    background-color: #7284A8;
    color: white;
}
.section-register{
    color:  #7284A8;

}
.section-contactus{
    background-color: #7284A8;
    color: white;
}

.jumbotron{
  
    background-color: #e4f5ee;
    background-image: url(headerImage.jpg);
 
    background-size: cover;
}

.nav.navbar-nav.navbar-right li a {
    color:  #7284A8;
}

